nav li {
    display: inline-block;
    color: white;
    padding: 30px;

}

nav {
    background-color: rebeccapurple;
    height: 80px;
    margin: 0;
}

#download_btn {
    display: block;
    color: sandybrown;
    border: 1px solid sandybrown;
    border-radius: 5px;
    padding: 10px;
    float: right;
    margin: 18px 10px;
    width: 100px;
    font-size: 23px; 
}