* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
}

nav li {
    display: inline-block;
    color: white;
    padding: 20px 10px; 
}

nav {
    background-color: rebeccapurple;
    height: 80px;
    margin: 0;
}

#download_btn {
    display: block;
    color: sandybrown;
    border: 1px solid sandybrown;
    border-radius: 5px;
    padding: 10px;
    float: right;
    margin: 18px 20px;
    width: 100px;
    font-size: 20px; 
}

h1 {
    font-weight: 500;
    margin-left: 70px;
    margin-right: 0;
    font-size: 80px;
}

.body {
    padding: 20px 900px 20px 80px;
}

p{
    font-size: 25px;
    line-height: 1.8;
}

.start {
    background-color: slateblue;
    padding: 20px;
    font-family: verdana;
    font-size: 20px;
    color: white;
    border-radius: 10px;
    width: 190px;
    font-weight: 700;
}

.download {
    background-color: white;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: gray;
    font-weight: 700;
    border-radius: 10px;
    width: 190px;
    margin: 0 15px;
}

div li{
    display: inline-block;
    margin: 20px 5px;
    font-size: 20px;
}

span{
    font-weight: 700;
}

.logo img {
    width: 25%;
    height: auto;
}

.logo {
    display: flex;
}

nav img {
    width: 10%;
    bottom: 0;
}

.github{
    float: right;
    width: 2%;
    height: auto;
    padding: 25px;
}

.twitter {
    float: right;
    width: 2%;
    height: auto;
    padding: 28px 1px;
}

.start:hover {
    background-color: rgb(134, 62, 134);
}

.download:hover {
    background-color: gray;
    color: white;
}

#download_btn:hover {
    background-color: sandybrown;
    color:rgb(134, 62, 134)
}